# Bytecode de Python y optimizaciones
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Archivos de distribución y empaquetado
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Archivos generados por herramientas de testing y cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Archivos de edición / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# Archivos de configuración local y secretos
.env

# Logs
logs/
*.log
